doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../main.css")
        title Robot Ai
    body 
        .container 
            .bck-image-one
                img(src="../img/Ellipse 21.svg", alt="")
            main 
                section 
                    .left 
                        h1 A ROBOT 
                        h3 Robot Ai
                        h3 Website UI
                        img(src="../img/Group 48.png", alt="")
                    .right 
                        .head 
                            .head-wrapper 
                                .head-logo 
                                    img(src="../img/Group 47.svg", alt="")
                                nav 
                                    ol 
                                        li 
                                            a(href="#") Concept
                                            a(href="#") Contact 
                                            a(href="#") About us
                        .r-main 
                            .r-left 
                                p Robot intelligence    
                                h2 Robot Ai
                                p Lorem ipsum dolor sit amet, 
                                p consectetur adipiscing elit. 
                                p A rhoncus nisi, diam elementum 
                                p amet felis nibh. Pulvinar 
                                p elementum ornare pharetra leo
                                p tellus id. Elementum tempus,
                                p cursus ac imperdiet tellus ornare 
                                p duis vel. Lacus, lacus volutpat 
                                p vulputate egestas in.
                                button Acsses now
                            .r-middle
                                img(src="../img/1 6.svg", alt="")
                            .r-right 
                                h2 New technology
                                p Lorem ipsum dolor sit amet, 
                                p consectetur adipiscing elit. 
                                p A rhoncus nisi, diam elementum 
                                p amet felis nibh. Pulvinar 
                                p elementum ornare pharetra leo 
                                p  tellus id. Elementum tempus.
                                
                            